@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/NeueMontreal/ppneuemontreal-medium.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'PP BOOK';
  src: url('/fonts/ppneuemontreal-book.otf') format('opentype');
  font-weight: normal;
}





html {
    scroll-behavior: smooth;
  }
  

/* @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/NeueMontreal-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
} */
  
/* *{
    font-family: 'Neue Montreal',sans-serif;
} */

/* body {
  overflow-y: scroll;
  scrollbar-width: none; 
} */

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}